
.card-medico{
  width:10rem;
  border: 0.1rem solid rgb(78, 160, 179);
  border-radius: 5px;
  display: inline-block;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 1rem;
  margin: 1rem 0.5rem; 
}
.div-fecha{

  border: 0.1rem solid rgb(78, 160, 179);
  border-radius: 5px;
  display: inline-block;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 1rem;
  margin: 1rem 0.5rem; 
}
.divturnos{
  display:flex;
justify-content: flex-start;
flex-wrap: wrap;
}
.lista{
  text-align:center;
  list-style-type: none;
  text-decoration: none;
  line-height:1.5rem;
  font-weight:bold;
}
.paciente{
  font-style:italic;
  font-weight: normal;
}
.nombre-apellido{
  padding: 10px 0 10px 0 ;
  font-size:1.2rem;
  font-style:italic;
  color:rgb(32, 82, 167);

}
.btn{
  margin-top:10px;
  background-color:rgb(147, 89, 176);
  color:white;
  font-weight:bold;
  font-size:1.4rem;
  border-radius:5px;
  border-color:white;
  padding:5px;
}
 